@import './resets';
@import './variables';

body {
  background: white;
  color: $text-color;
  margin: 40px;
};

.main {
  width: 80%;
  margin: 0 auto;

  p {
    color: $text-color;  
  }
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.right-side {
  display: flex;
}