@import './resets';
@import './variables';

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 145px;
  margin-right: 145px;
}

.jumbotron {
  position: relative;
  height: 100vh;
}

.scroll-button.animate-scroll {
  position: absolute;
  bottom: 0;
  padding-bottom: 30px;
  display: flex;
}

.arrow {
  padding-right: 5px;
}


/* Navigation styles */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 88px;
  padding-bottom: 38px;
}

.left-side {
  letter-spacing: 1px;
}

.right-side {
  display: flex;
}

.nav-wrapper > .right-side > div {
  margin-right:20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover { 
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

/* Portfolio styles */

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
} 

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.portfolio-img-background:hover {
  opacity: 0.7;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px; 
}

.logo-wrapper img{
  width: 50%;
  margin-bottom: 20px;
}
/* needs to be more specific with selector */

.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
  font-weight: 600;
}

.img-text-wrapper:hover .subtitle {
  color: whitesmoke;
  font-weight: 600;
}



/* About page */

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
}

.profile-image-wrapper img {
  height: 500px;
}

.profile-content-wrapper {
  padding: 30px;;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}

.profile-content-wrapper p {
  font-size: medium;

}


